.header,
.footer {
    background-color: #1f2937;
}

.hero-main,
.logo,
button {
    color: #f9faf8;
}

.hero-sub,
.links-right {
    font-size: 18px;
    color: #E5E7EB;
}

button, 
.call {
    background-color: #3882f6;
}

button {
    padding: 4px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.hero-sub {
    padding-bottom: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-bottom: 50px;
}

.hero-left {
    width:29vw;
}

.hero-pic img {
    width: 29vw;
    height:auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.links-right {
    display: flex;
    gap: 18px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 40px 0;
}

.information {
    padding-bottom: 60px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.information-pic {
    width: 150px;
    height: 150px;
    border: 5px solid blue;
    border-radius: 20px;;
}

.information-subtext {
    max-width: 160px;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 15%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.signature {
    font-weight: bolder;
    text-align: right;
    margin-top: -35px;
    margin-left: auto;
}

.call {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    padding: 20px 40px;
    border-radius: 10px;
    color: #f9faf8;
}

.call-button {
    border: 2px solid white;
    align-self: center;
}

.call-sub {
    margin-top: -20px;
}

.footer {
    color: #f9faf8;
    text-align: center;
    padding: 20px 0;
}
