html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    border: 2px solid red;
}

.page-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 75rem;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 37rem;
}

.hero-left > h1 {
    width: 17rem;
    margin: 0;
}

.hero-left > button {
    align-self: flex-start;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37rem;
}

.info {
    padding-bottom: 4rem;
}

.info > h2 {
    text-align: center;
    margin: 2rem;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.img-with-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-border {
    width: 160px;
    height: 160px;
    border: 2px solid blue;
    border-radius: 10%;
}

.img-with-info > p {
    width: 160px;
    text-align: center;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.quote-and-quoted {
    display: flex;
    flex-direction: column;
}

.quote {
    max-width: 22rem;
    flex-wrap: wrap;
}

.thor {
    align-self: flex-end;
}

.action {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.action-container {
    width: 60rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.action-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.action-left > h4,
.action-left > p {
    margin: 0;
    padding: 0;
}

.action-container > button {
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}