html {
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 23px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 75rem;
}

.header-container > div {
    font-size: 24px;
    color: #f9f1f8;
    font-weight: 800g;
}

li > a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    background-color: #1f2937;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 37rem;
}

.hero-left > h1 {
    width: 25rem;
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left > p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-left > button {
    align-self: flex-start;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    width: 105px;
    height: 30px;
    border-radius: 7px;
    color: #f9faf8;
    font-weight: 800;
    font-size: 15px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37rem;
    background-color: rgba(182, 182, 182, 0.527);
    color: #f9faf8;
}

.info {
    padding-bottom: 4rem;
}

.info > h2 {
    text-align: center;
    margin: 2rem;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.img-with-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-border {
    width: 160px;
    height: 160px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.img-with-info > p {
    width: 160px;
    text-align: center;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: #e5e7eb;
}

.quote-and-quoted {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    max-width: 50rem;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.thor {
    align-self: flex-end;
    font-weight: 800;
    font-size: 18px;
}

.action {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.action-container {
    width: 60rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #3882f6;
    border-radius: 7px;
}

.action-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.action-left > h4,
.action-left > p {
    margin: 0;
    padding: 0;
    COLOR: #e5e7eb;
}

.action-left > h4 {
    font-weight: 900;
}

.action-container > button {
    align-self: center;
    border: 2px solid white;
    background-color: #3882f6;
    width: 105px;
    height: 30px;
    border-radius: 7px;
    color: #f9faf8;
    font-weight: 800;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: #1f2937;
    color: #f9faf8;
}